.my-container{
    position: relative;
    height: 358px;
    padding-top: 82px;
    padding-right: 125px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width:768px) {
        height: 263px;
        padding: 49px 33px;
        justify-content: center;
        margin-top: 50px;
    }
    .text{
        max-width: 487px;
        @media (max-width:480px) {
            width: 278px;
        }
    }
   
}
img{
    position: absolute;
    top: 0;
    left: 1rem;
    width: calc(100% - 2rem) ;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.box{
    color: #FFF;
}