.subscrip {
    background-color: #F7F7F7;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #202221;
        margin-bottom: 8px;

        @media (max-width:768px) {
            font-size: 18px;
            line-height: 27px;
        }
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #808686;
        margin-bottom: 16px;

        @media (max-width:768px) {
            font-size: 14px;
            line-height: 21px;
            color: #808686;
        }
    }

    form {
        width: 571px;
        height: 42px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        @media (max-width:768px) {
            flex-direction: column;
            gap: 12px;
            width: 310px;
            height: auto;
        }

        div {
            flex-grow: 1;
            position: relative;
            height: 100%;

            @media (max-width:768px) {
                width: 100%;
                height: 41px;
            }

            input {
                width: 100%;
                height: 100%;
                outline: none;
                padding-left: 10px;
                font-size: 17px;
                caret-color: $main-color;
                text-align: right;
                padding-right: 35px;
            }

            img {
                position: absolute;
                top: 0;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }

          
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 166px;
            height: 42px;
            background: $main-color;
            border-radius: 3px 0px 0px 3px;
            color: #FFF;

            @media (max-width:768px) {
                width: 100%;

            }
        }
    }

}

.copy-right {
    .my-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .rules {
        @media (max-width:768px) {
            margin-top: 20px;
            margin-bottom: 8px;
        }
    }

    .rules,
    .copy-right-text {
        font-size: 14px;
        line-height: 21px;
        color: #808686;

    }

    .social-links {
        display: flex;
        column-gap: 32px;
        align-items: center;

        @media (max-width:768px) {
            flex-direction: column;
            gap: 16px;
            width: 180px;
            order: -1;
        }

        h3 {
            width: 141px;
            height: 42px;
            background: #FF9F4B;
            border-radius: 3px;
            color: #FFF;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width:768px) {
                width: 100%;
            }
        }

        ul {
            display: flex;
            gap: 12px;

            @media (max-width:768px) {
                order: -1;
            }
        }
    }
}