.box {
    min-height: 160px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    flex-direction: column;
    @media (max-width:992px) {
        min-height: auto;
    }

    .box-view {
        text-align: right;
        flex: 1;

        h3,
        h2,
        p,
        h4 {
            font-style: normal;
            font-weight: 400;
            margin-bottom: 12px;
        }

        h3 {
            border-right: 2px solid  #5DD5C4;
            padding-right: 8px;
            font-size: 14px;
            line-height: 21px;
        }

        h2 {
            font-size: 20px;
            line-height: 29px;
            color: #202221;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            color: #808686;
        }

        h4 {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 0;
            color: #404343;

        }

    }

  
}